<div class="container">
  <div class="col-xs-12 col-sm-10 col-md-8">
    <form>
      <div class="row user-data">
        <div class="col-md-6 form-group">
          <label for="username">Username</label>
          <input type="text" id="username" class="form-control">
        </div>
        <div class="col-md-6 form-group">
          <label for="username">Password</label>
          <input type="password" id="password" class="form-control">
        </div>
      </div>
      <button class="btn btn-primary" type="submit">Login</button>
    </form>
  </div>
</div>
